* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-size: 16px;
    font-family: "Baloo 2";
  }
  
  html,
  body {
    width: 100%;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
  }

  .img {
      margin-left: 30%;
  }

  .container {
      width: 100vw;
      height: 100vh;
  }
  
  .backgorund-color-row {
      background-color: black;
  }
